<div class="container">
    <div class="row">
      <div class="col-sm offset-sm-4 mt-5">
        <h1 class="main-title">contact me</h1>
        <dl class="dl dl-vertical">
            <dt>E-mail:</dt>
            <dd>
              <a href="mailto:sessim37@gmail.com"><i class="fas fa-envelope"></i> sessim37@gmail.com</a>
            </dd>
      
            <dt>&nbsp;</dt>
            <dd></dd>
      
            <dt>LinkedIn:</dt>
            <dd>
              <a href="https://www.linkedin.com/in/samuel-essim-49518314b/"><i class="fab fa-linkedin-in"></i> samuel-essim</a>
            </dd>
      
            <dt>Github:</dt>
            <dd>
              <a href="https://github.com/samuelA1"><i class="fab fa-github"></i> samuelA1</a>
            </dd>
      
            <dt>Twitter:</dt>
            <dd>
              <a href="https://twitter.com/essim_b"><i class="fab fa-twitter"></i> @essim_b</a>
            </dd>

            <dt>Instagram:</dt>
            <dd>
              <a href="https://www.instagram.com/sam_essim/"><i class="fab fa-instagram"></i> @sam_essim</a>
            </dd>
          </dl>
      </div>
    </div>
  </div>