<div class="container">
  <div class="row">
    <div class="col-sm offset-sm-4 mt-5">
      <h1 class="main-title">skills & offer</h1>
      <p>I am a full stack developer with <strong>three years of experience.</strong></p>
      <br>
      <p>I have developed, deployed and maintained multiple self made projects. Often develop both the front-end and back-end of these multiple projects.</p>
      <br>
      <p>I am most confident, familiar and current with <strong>NodeJs, AngularJs, MongoDb, Express (MEAN STACK), jQuery, PHP, Laravel and all the other various frameworks, libraries and technologies related to them.</strong></p>
      <br>
      <p>I also enjoy working with people and groups, as it gives me the ability to learn and teach more people all over the world.</p>

     <div>
        <h2> <i class="fas fa-edit"></i> Front-end web development</h2>
        <p>I specialize in applications built in <strong>Angular</strong>, together with <strong>HTML5 and CSS3</strong></p>
        <p>I have built and maintained <strong>three single paged applications with Angular </strong></p>
        <p>
            My current experience and skills in front-end include:
          </p>
          <ul>
            <li>
              lead TypeScript/JavaScript development: bootstraping or refactoring an existing app architecture, by improving its' extensibility and reliability;
            </li>
            <li>
              good sense of design and UX, by having some small past experience in graphic design
            </li>
            <li>
              knowledge and experience in JS ecosystem, by using many libraries like Angular, jQuery, Lodash/Underscore and whatever else was needed.
            </li>
          </ul>
     </div>
     <div>
       <h2><i class="fas fa-code"></i> Back-end web development</h2>
       <p>My current stack in back-end development includes <strong>NodeJs and Express, PHP and Laravel</strong></p>
       <p>
          Every app I have done has the back-end written completely me. In order to improve the development speed, performance and reliability, I have changed languages and frameworks from PHP to NodeJs which is now the fastest and most reliable sever-side v8 engine.
        </p>
        <p>
          Luckily, my experience and lessons I learned while doing all those apps, will stay with me and be useful forever, no matter what framework I will use in the next project.
        </p>
      
        <p>
          What I can do is:
        </p>
      
        <ul>
          <li>
            build Restful APIs in NodeJs/PHP
          </li>
          <li>
            cooperation with APIs, remote data synchronizations, cloud servers, asynchronous workers
          </li>
          <li>
            using different types of databases like <strong>MYSQL(relational), NoSQL(non-relational), and MONGODB</strong>
          </li>
          <li>
            refactoring existing applications, by improving code readibility, separating concerns into separate functions and classes.
          </li>
        </ul>
        <hr>
        <p>If you need some to work with or if you already have an existing team for your project, but still need someone to help it, contact me. I’ll fit into your needs.</p>
     </div>
    </div>
  </div>
</div>