.container {
    color: black;
    margin: 0;
    max-width: 100%;
    padding-left: 0px;
    position: absolute;
}

.date {
    border-right: 1px solid #555;
    height: 500px;
}

.project-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 1;
    margin-bottom: .3em;
    margin-top: 65px;
    -webkit-font-smoothing: antialiased;
}


li {
    display: list-item
}

img {
    width: 100%;
    border-radius: none;
    max-height: 500px;
}

ul {
    list-style-type: square
}

.project-info {
    position: absolute;    
}

.technologies {
    list-style-type: none;
}

.technologies li {
    display: inline-block;
    background-color: #007bff;
    color: #FFF;
    padding: 4px 10px;
    font-size: 13px;
    text-transform: uppercase;
    margin: 5px;
    list-style: none;
    text-decoration: none;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .project-image {
        display: none;
    }

    .date {
        visibility: hidden;
        border-right: 0px;
    }

    .project-title {
        margin-top: 35px;
    }

    .project-info {
        margin-right: 35px;
    }

    .container {
        text-align: center;
        padding-right: 5px;
        display: block;
        margin-top: 400px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1023px) {
    .date {
        visibility: hidden;
        border-right: 0px;
    }

    .project-image {
        display: none;
    }

    .date {
        visibility: hidden;
        border-right: 0px;
    }

    .project-title {
        margin-top: 35px;
    }

    .date-first {
        display: none;
    }
}