<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-secondary col-md-3 sidebar" [ngStyle]="{'height':toggleshow ? '415px' : ''}">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <div class="person-info">
                            <a [routerLink]="['']" routerLinkActive="active" >
                                <img  class="mb-2" src="../assets/zfB5KqXn_400x400.jpg"
                                    alt="samuel essim">
                                <p class="name"><strong>Samuel Essim</strong></p>
                                <p class="job">Full-stack web developer</p>
                            </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse" [ngClass]="toggleshow ? 'show': 'false'">
                        <ul class="nav flex-column">
                            <li >
                            <a [routerLink]="['/portfolio']" routerLinkActive="active" >Portfolio</a>
                            </li>
                            <li >
                            <a [routerLink]="['/skills']" routerLinkActive="active" >Skills & offer</a>
                            </li>
                            <li >
                            <a [routerLink]="['/contact']" routerLinkActive="active" >Contact</a>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
        <button (click)="toggle()" class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
    </nav>
</header>
  
<router-outlet></router-outlet>
