a {
    color: white;
    text-decoration: none;
}

ul {
    list-style: none;
}


body {
    color: white;
    width: 100%;
    max-width: 1400px;
    font: 16px/1.6 Roboto,Helvetica,sans-serif;
    font-weight: 300;
    height: 100%;
}

html {
    box-sizing: border-box;
    height: 100%;
    
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    body {
        max-width: 767px;
    }

}
